include helpers/variables.pug

nav.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container
    a.navbar-brand(href='#header')
      include icons/logo.html
    button.navbar-toggler(aria-expanded='false', aria-controls='navbarSupportedContent', aria-label='Toggle navigation', type='button', data-target='#navbarSupportedContent', data-toggle='collapse')
      #toggle
        .span#one
        .span#two
        .span#three
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        each val, index in navLink
          li.nav-item
            if val == 'Trailer'
              a.nav-link(href="#" + navIDs[index] data-toggle="modal" data-target="#trailer")= val
            else if index == 0
              a.nav-link.active(href="#" + navIDs[index])= val
            else 
                
              a.nav-link(href="#" + navIDs[index])= val
#resize
    ul#menu
        each val, index in navLink
            li.nav-item
              if index == 0
                a.nav-link.active(href="#" + navIDs[index])= val
              else
                
                a.nav-link(href="#" + navIDs[index])= val
