- var n = [1, 2, 3, 4, 5, 6];     // Loop Controller
- var k = 0;                      // Loop Controller For Bullets
- var slides = n.length;          // Number of slides you wish
include objectVariables.pug

//- Carousal container
#characters-carousal.slider.glide.glide--ltr.glide--slider.glide--swipeable
  //- Slider
  .slider__track.glide__track(data-glide-el='track')
    ul.slider__slides.glide__slides
      each val, index in n
        if n == 1
          li.slider__frame.glide__slide.glide__slide--active 
            img(src="assets/img/character-" + val + ".jpg" alt = carouselText[val - 1].name)
            .text
              h5= carouselText[val - 1].name
              p.real-name= carouselText[val - 1].realName
              p.profession= carouselText[val - 1].profession
              a.link(href="") Learn More>>
        else
      
          li.slider__frame.glide__slide
            img(src="assets/img/character-" + val + ".jpg" alt= carouselText[val - 1].name)
            .text
              h5= carouselText[val - 1].name
              p.real-name= carouselText[val - 1].realName
              p.profession= carouselText[val - 1].profession
              a.link(href="") Learn More>>
              
  //- Controls
  div(data-glide-el='controls')
    a.slider__arrow.slider__arrow--prev.glide__arrow.glide__arrow--prev(data-glide-dir='<' href="#")
      include ../icons/prev-arrow.html
    a.slider__arrow.slider__arrow--next.glide__arrow.glide__arrow--next(data-glide-dir='>' href="#")
      include ../icons/next-arrow.html

  //- Slider Bullets
  .slider__bullets.glide__bullets(data-glide-el='controls[nav]')
    
    while k <= (slides - 3)
      if k == 0
        a.slider__bullet.glide__bullet.glide__bullet--active(href="#" data-glide-dir='=' + k++)
          span.bullet
      else
        
        a.slider__bullet.glide__bullet(href="#" data-glide-dir='=' + k++)
          span.bullet
        
